global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_dbus/conf/gen_dbus.cfg
include gen_dbus/conf/gen_dbus.logo
include gen_dbus/conf/gen_dbus_util.cfg
include gen_dbus/conf/project.yaml
include gen_dbus/conf/template/
include gen_dbus/conf/template/posix_c
include gen_dbus/conf/template/posix_cxx
include gen_dbus/conf/template/py
include gen_dbus/__init__.py
include gen_dbus/log/gen_dbus.log
include gen_dbus/pro/config/__init__.py
include gen_dbus/pro/config/pro_name.py
include gen_dbus/pro/__init__.py
include gen_dbus/pro/read_template.py
include gen_dbus/pro/write_template.py
include gen_dbus/run/gen_dbus_run.py
