global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_dbus/conf/template/posix_c/dbus_client/AUTHORS.template
include gen_dbus/conf/template/posix_c/dbus_client/COPYING.template
include gen_dbus/conf/template/posix_c/dbus_client/ChangeLog.template
include gen_dbus/conf/template/posix_c/dbus_client/Makefile.template
include gen_dbus/conf/template/posix_c/dbus_client/NEWS.template
include gen_dbus/conf/template/posix_c/dbus_client/README.template
include gen_dbus/conf/template/posix_c/dbus_client/autogen.template
include gen_dbus/conf/template/posix_c/dbus_client/configure.template
include gen_dbus/conf/template/posix_c/dbus_client/src/Makefile.template
include gen_dbus/conf/template/posix_c/dbus_client/src/main.template
include gen_dbus/conf/template/posix_c/dbus_server/AUTHORS.template
include gen_dbus/conf/template/posix_c/dbus_server/COPYING.template
include gen_dbus/conf/template/posix_c/dbus_server/ChangeLog.template
include gen_dbus/conf/template/posix_c/dbus_server/Makefile.template
include gen_dbus/conf/template/posix_c/dbus_server/NEWS.template
include gen_dbus/conf/template/posix_c/dbus_server/README.template
include gen_dbus/conf/template/posix_c/dbus_server/autogen.template
include gen_dbus/conf/template/posix_c/dbus_server/configure.template
include gen_dbus/conf/template/posix_c/dbus_server/src/Makefile.template
include gen_dbus/conf/template/posix_c/dbus_server/src/main.template
include gen_dbus/conf/template/posix_cxx/dbus_client/AUTHORS.template
include gen_dbus/conf/template/posix_cxx/dbus_client/COPYING.template
include gen_dbus/conf/template/posix_cxx/dbus_client/ChangeLog.template
include gen_dbus/conf/template/posix_cxx/dbus_client/Makefile.template
include gen_dbus/conf/template/posix_cxx/dbus_client/NEWS.template
include gen_dbus/conf/template/posix_cxx/dbus_client/README.template
include gen_dbus/conf/template/posix_cxx/dbus_client/autogen.template
include gen_dbus/conf/template/posix_cxx/dbus_client/configure.template
include gen_dbus/conf/template/posix_cxx/dbus_client/po/ChangeLog.template
include gen_dbus/conf/template/posix_cxx/dbus_client/po/LINGUAS.template
include gen_dbus/conf/template/posix_cxx/dbus_client/po/POTFILES.template
include gen_dbus/conf/template/posix_cxx/dbus_client/src/Makefile.template
include gen_dbus/conf/template/posix_cxx/dbus_client/src/main.template
include gen_dbus/conf/template/posix_cxx/dbus_server/AUTHORS.template
include gen_dbus/conf/template/posix_cxx/dbus_server/COPYING.template
include gen_dbus/conf/template/posix_cxx/dbus_server/ChangeLog.template
include gen_dbus/conf/template/posix_cxx/dbus_server/Makefile.template
include gen_dbus/conf/template/posix_cxx/dbus_server/NEWS.template
include gen_dbus/conf/template/posix_cxx/dbus_server/README.template
include gen_dbus/conf/template/posix_cxx/dbus_server/autogen.template
include gen_dbus/conf/template/posix_cxx/dbus_server/configure.template
include gen_dbus/conf/template/posix_cxx/dbus_server/po/ChangeLog.template
include gen_dbus/conf/template/posix_cxx/dbus_server/po/LINGUAS.template
include gen_dbus/conf/template/posix_cxx/dbus_server/po/POTFILES.template
include gen_dbus/conf/template/posix_cxx/dbus_server/src/Makefile.template
include gen_dbus/conf/template/posix_cxx/dbus_server/src/main.template
include gen_dbus/conf/template/posix_py/dbus_client/AUTHORS.template
include gen_dbus/conf/template/posix_py/dbus_client/COPYING.template
include gen_dbus/conf/template/posix_py/dbus_client/ChangeLog.template
include gen_dbus/conf/template/posix_py/dbus_client/Makefile.template
include gen_dbus/conf/template/posix_py/dbus_client/NEWS.template
include gen_dbus/conf/template/posix_py/dbus_client/README.template
include gen_dbus/conf/template/posix_py/dbus_client/autogen.template
include gen_dbus/conf/template/posix_py/dbus_client/configure.template
include gen_dbus/conf/template/posix_py/dbus_client/src/Makefile.template
include gen_dbus/conf/template/posix_py/dbus_client/src/dbus_client.template
include gen_dbus/conf/template/posix_py/dbus_server/AUTHORS.template
include gen_dbus/conf/template/posix_py/dbus_server/COPYING.template
include gen_dbus/conf/template/posix_py/dbus_server/ChangeLog.template
include gen_dbus/conf/template/posix_py/dbus_server/Makefile.template
include gen_dbus/conf/template/posix_py/dbus_server/NEWS.template
include gen_dbus/conf/template/posix_py/dbus_server/README.template
include gen_dbus/conf/template/posix_py/dbus_server/autogen.template
include gen_dbus/conf/template/posix_py/dbus_server/configure.template
include gen_dbus/conf/template/posix_py/dbus_server/src/Makefile.template
include gen_dbus/conf/template/posix_py/dbus_server/src/dbus_server.template